In [172]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [173]:
ratings = pd.read_csv('./data/ratings.dat', header=None, sep='::', engine='python',
                      names=('UserID','MovieID','Rating','Timestamp'))
ratings.shape

(1000209, 4)

In [174]:
ratings.isnull().sum()

UserID       0
MovieID      0
Rating       0
Timestamp    0
dtype: int64

In [175]:
users = pd.read_csv('./data/users.dat', header=None, sep='::', engine='python',
                      names=('UserID','Gender','Age','Occupation','Zip-code'))
users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [176]:
users.shape

(6040, 5)

In [177]:
movies = pd.read_csv('./data/movies.dat', header=None, sep='::', engine='python',
                      names=('MovieID','Title','Genres'))
movies.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

## Extracting Genres and creating their own columns

In [178]:
genres = ['Action','Adventure','Animation', "Children's", 'Comedy','Crime','Documentary','Drama','Fantasy',
          'Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']

movies = pd.concat([movies,pd.DataFrame(columns=genres)])
movies.columns

Index([u'Action', u'Adventure', u'Animation', u'Children's', u'Comedy',
       u'Crime', u'Documentary', u'Drama', u'Fantasy', u'Film-Noir', u'Genres',
       u'Horror', u'MovieID', u'Musical', u'Mystery', u'Romance', u'Sci-Fi',
       u'Thriller', u'Title', u'War', u'Western'],
      dtype='object')

In [179]:
def add_genres(row):
    cur_genres = row['Genres'].split("|")
    for g in genres:
        if g in cur_genres:
            row[g] = 1
        else:
            row[g] = 0
    return row

In [180]:
movies = movies.apply(add_genres,axis=1)

In [181]:
movies.drop(['Genres'],axis=1,inplace=True)

In [182]:
## Merging movie and ratings dataframe through Inner-Join
movie_ratings = pd.merge(ratings,movies,on='MovieID',how='inner')

In [183]:
movie_ratings.head()

,UserID,MovieID,Rating,Timestamp,Action,Adventure,Animation,Children's,Comedy,Crime,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,Title,War,Western
0,1,1193,5,978300760,0,0,0,0,0,0,...,0,0,0,0,0,0,0,One Flew Over the Cuckoo's Nest (1975),0,0
1,2,1193,5,978298413,0,0,0,0,0,0,...,0,0,0,0,0,0,0,One Flew Over the Cuckoo's Nest (1975),0,0
2,12,1193,4,978220179,0,0,0,0,0,0,...,0,0,0,0,0,0,0,One Flew Over the Cuckoo's Nest (1975),0,0
3,15,1193,4,978199279,0,0,0,0,0,0,...,0,0,0,0,0,0,0,One Flew Over the Cuckoo's Nest (1975),0,0
4,17,1193,5,978158471,0,0,0,0,0,0,...,0,0,0,0,0,0,0,One Flew Over the Cuckoo's Nest (1975),0,0

In [184]:
movie_ratings.shape

(1000209, 23)

## Top 10 most viewed movies
**Assumption: Most Viewed is also a Most Reviewed Movie**

In [185]:
movie_ratings_count = movie_ratings.groupby('MovieID').size().reset_index(name='CountRatings')
movie_ratings_count = movie_ratings_count.sort_values('CountRatings',ascending=False)
movie_ratings_sorted = movie_ratings_count.merge(movies,on='MovieID',how='inner')[['MovieID', 'Title', 'CountRatings']]
movie_ratings_sorted.head(10)

  MovieID                                              Title  CountRatings
0    2858                             American Beauty (1999)          3428
1     260          Star Wars: Episode IV - A New Hope (1977)          2991
2    1196  Star Wars: Episode V - The Empire Strikes Back...          2990
3    1210  Star Wars: Episode VI - Return of the Jedi (1983)          2883
4     480                               Jurassic Park (1993)          2672
5    2028                         Saving Private Ryan (1998)          2653
6     589                  Terminator 2: Judgment Day (1991)          2649
7    2571                                 Matrix, The (1999)          2590
8    1270                          Back to the Future (1985)          2583
9     593                   Silence of the Lambs, The (1991)          2578

## Top 20 rated movies at least rated by 40 users

In [186]:
movie_ratings_sorted[movie_ratings_sorted.CountRatings>=40].head(20)

   MovieID                                              Title  CountRatings
0     2858                             American Beauty (1999)          3428
1      260          Star Wars: Episode IV - A New Hope (1977)          2991
2     1196  Star Wars: Episode V - The Empire Strikes Back...          2990
3     1210  Star Wars: Episode VI - Return of the Jedi (1983)          2883
4      480                               Jurassic Park (1993)          2672
5     2028                         Saving Private Ryan (1998)          2653
6      589                  Terminator 2: Judgment Day (1991)          2649
7     2571                                 Matrix, The (1999)          2590
8     1270                          Back to the Future (1985)          2583
9      593                   Silence of the Lambs, The (1991)          2578
10    1580                                Men in Black (1997)          2538
11    1198                     Raiders of the Lost Ark (1981)          2514
12     608                                       Fargo (1996)          2513
13    2762                            Sixth Sense, The (1999)          2459
14     110                                  Braveheart (1995)          2443
15    2396                         Shakespeare in Love (1998)          2369
16    1197                         Princess Bride, The (1987)          2318
17     527                            Schindler's List (1993)          2304
18    1617                           L.A. Confidential (1997)          2288
19    1265                               Groundhog Day (1993)          2278

## Genre Ranking for each Profession and Age Groups

In [413]:
genreRanking = pd.read_csv('GenreRankingWith_Age_Occupation.csv')
genreRanking

,Age,Occupation,Rank1,Rank2,Rank3,Rank4,Rank5
0,18-35,K-12 student,Action,Comedy,Drama,Sci-Fi,Thriller
1,36-50,K-12 student,Comedy,Drama,Romance,Action,Thriller
2,50+,K-12 student,Comedy,Drama,Action,Sci-Fi,Thriller
3,18-35,academic/educator,Drama,Comedy,Action,Thriller,Romance
4,36-50,academic/educator,Drama,Comedy,Action,Romance,Thriller
5,50+,academic/educator,Drama,Comedy,Action,Thriller,Romance
6,18-35,artist,Comedy,Drama,Action,Thriller,Sci-Fi
7,36-50,artist,Drama,Comedy,Action,Thriller,Romance
8,50+,artist,Drama,Comedy,Romance,Action,Thriller
9,18-35,clerical/admin,Comedy,Drama,Action,Thriller,Romance
10,36-50,clerical/admin,Drama,Comedy,Action,Thriller,Romance
11,50+,clerical/admin,Drama,Comedy,Romance,Action,Thriller
12,18-35,college/grad student,Comedy,Drama,Action,Thriller,Sci-Fi
13,36-50,college/grad student,Drama,Comedy,Thriller,Action,Horror
14,50+,college/grad student,Drama,Comedy,Action,Romance,Thriller
15,18-35,customer service,Comedy,Drama,Action,Thriller,Sci-Fi
16,36-50,customer service,Comedy,Action,Drama,Thriller,Sci-Fi
17,50+,customer service,Action,Drama,Thriller,Sci-Fi,Comedy
18,18-35,doctor/health care,Drama,Comedy,Action,Thriller,Romance
19,36-50,doctor/health care,Comedy,Drama,Action,Romance,Thriller
20,50+,doctor/health care,Drama,Comedy,Action,Thriller,Romance
21,18-35,executive/managerial,Drama,Comedy,Action,Thriller,Romance
22,36-50,executive/managerial,Drama,Comedy,Action,Thriller,Sci-Fi
23,50+,executive/managerial,Drama,Action,Comedy,Thriller,Sci-Fi
24,18-35,farmer,Action,Comedy,Sci-Fi,Drama,Adventure
25,36-50,farmer,Comedy,Drama,Action,Sci-Fi,Thriller
26,50+,farmer,Action,Comedy,Drama,Thriller,Adventure
27,18-35,homemaker,Comedy,Drama,Romance,Action,Children's
28,36-50,homemaker,Comedy,Drama,Romance,Action,Thriller
29,50+,homemaker,Drama,Comedy,Romance,Children's,Musical
...,...,...,...,...,...,...,...
32,50+,lawyer,Drama,Comedy,Action,Romance,Thriller
33,18-35,other,Comedy,Drama,Action,Thriller,Sci-Fi
34,36-50,other,Drama,Comedy,Action,Thriller,Sci-Fi
35,50+,other,Drama,Comedy,Action,Thriller,Romance
36,18-35,programmer,Comedy,Action,Drama,Sci-Fi,Thriller
37,36-50,programmer,Drama,Comedy,Action,Sci-Fi,Thriller
38,50+,programmer,Drama,Comedy,Action,Thriller,Romance
39,36-50,retired,Comedy,Drama,Sci-Fi,Action,Thriller
40,50+,retired,Drama,Comedy,Action,Thriller,Romance
41,18-35,sales/marketing,Comedy,Drama,Action,Thriller,Romance
42,36-50,sales/marketing,Drama,Comedy,Action,Thriller,Sci-Fi
43,50+,sales/marketing,Drama,Comedy,Action,Thriller,Sci-Fi
44,18-35,scientist,Drama,Comedy,Action,Thriller,Sci-Fi
45,36-50,scientist,Drama,Comedy,Action,Sci-Fi,Thriller
46,50+,scientist,Drama,Comedy,Action,Sci-Fi,Thriller
47,18-35,self-employed,Comedy,Drama,Action,Thriller,Sci-Fi
48,36-50,self-employed,Drama,Comedy,Action,Thriller,Sci-Fi
49,50+,self-employed,Drama,Comedy,Action,Thriller,Romance
50,18-35,technician/engineer,Comedy,Action,Drama,Thriller,Sci-Fi
51,36-50,technician/engineer,Comedy,Drama,Action,Sci-Fi,Thriller
52,50+,technician/engineer,Drama,Action,Comedy,Thriller,Sci-Fi
53,18-35,tradesman/craftsman,Comedy,Action,Drama,Thriller,Sci-Fi
54,36-50,tradesman/craftsman,Comedy,Drama,Action,Thriller,Horror
55,50+,tradesman/craftsman,Drama,Comedy,Action,Thriller,Sci-Fi
56,18-35,unemployed,Comedy,Drama,Action,Thriller,Sci-Fi
57,36-50,unemployed,Drama,Comedy,Action,Sci-Fi,Thriller
58,50+,unemployed,Drama,Comedy,Romance,Action,Thriller
59,18-35,writer,Comedy,Drama,Action,Thriller,Sci-Fi
60,36-50,writer,Drama,Comedy,Action,Thriller,Romance
61,50+,writer,Drama,Comedy,Action,Thriller,Romance

### Process of getting above Result is down here.

In [187]:
user_ratings = pd.merge(users,movie_ratings,on='UserID',how='inner')
user_ratings.head()

,UserID,Gender,Age,Occupation,Zip-code,MovieID,Rating,Timestamp,Action,Adventure,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,Title,War,Western
0,1,F,1,10,48067,1193,5,978300760,0,0,...,0,0,0,0,0,0,0,One Flew Over the Cuckoo's Nest (1975),0,0
1,1,F,1,10,48067,661,3,978302109,0,0,...,0,0,1,0,0,0,0,James and the Giant Peach (1996),0,0
2,1,F,1,10,48067,914,3,978301968,0,0,...,0,0,1,0,1,0,0,My Fair Lady (1964),0,0
3,1,F,1,10,48067,3408,4,978300275,0,0,...,0,0,0,0,0,0,0,Erin Brockovich (2000),0,0
4,1,F,1,10,48067,2355,5,978824291,0,0,...,0,0,0,0,0,0,0,"Bug's Life, A (1998)",0,0

In [188]:
## mapping Occupation
occupation = {
            0:  "other",1:  "academic/educator",2:  "artist",3:  "clerical/admin",4:  "college/grad student",
              5:  "customer service",6:  "doctor/health care",7:  "executive/managerial",8:  "farmer",
              9:  "homemaker",10:  "K-12 student",11:  "lawyer",12:  "programmer",13:  "retired",
              14:  "sales/marketing",15:  "scientist",16:  "self-employed",17:  "technician/engineer",
              18:  "tradesman/craftsman",19:  "unemployed",20:  "writer"
             }
user_ratings.Occupation = user_ratings.Occupation.map(occupation)
user_ratings.head()

,UserID,Gender,Age,Occupation,Zip-code,MovieID,Rating,Timestamp,Action,Adventure,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,Title,War,Western
0,1,F,1,K-12 student,48067,1193,5,978300760,0,0,...,0,0,0,0,0,0,0,One Flew Over the Cuckoo's Nest (1975),0,0
1,1,F,1,K-12 student,48067,661,3,978302109,0,0,...,0,0,1,0,0,0,0,James and the Giant Peach (1996),0,0
2,1,F,1,K-12 student,48067,914,3,978301968,0,0,...,0,0,1,0,1,0,0,My Fair Lady (1964),0,0
3,1,F,1,K-12 student,48067,3408,4,978300275,0,0,...,0,0,0,0,0,0,0,Erin Brockovich (2000),0,0
4,1,F,1,K-12 student,48067,2355,5,978824291,0,0,...,0,0,0,0,0,0,0,"Bug's Life, A (1998)",0,0

In [189]:
## Dropping Users with age group less than 18.
## Re adjusting Age-Groups
user_ratings = user_ratings[user_ratings.Age!=1]
user_ratings.loc[user_ratings.Age==25,'Age'] = 18
user_ratings.loc[user_ratings.Age==45,'Age'] = 35
user_ratings.loc[user_ratings.Age>=50,'Age'] = 50
user_ratings.Age.value_counts()

18    579092
35    282636
50    111270
Name: Age, dtype: int64

In [323]:
## Getting Average Ratings of Users in a certain Age group and Occupation
mean_ratings = user_ratings.groupby(['Occupation','Age'])[genres].mean().reset_index()

In [324]:
mean_ratings.shape

(62, 20)

In [267]:
import operator
from collections import OrderedDict

In [401]:
## Creating a new Dataframe to store the fina; result table
cols = ['Occupation','Age','Rank1','Rank2','Rank3','Rank4','Rank5']
result_table = pd.DataFrame(columns=cols)

In [402]:
def sort_row(row):
    """Sorts by Average Rating and appends to a dataframe result_table"""
    row_d = row.to_dict()
    row_d = OrderedDict(sorted(row_d.items(),key=operator.itemgetter(1),reverse=True)[0:7])
    res = dict()
    i = 0
    items = row_d.items()
#     Changing Global variable from apply() is a bad idea, but had no choice.
    global result_table
    for c in cols:
        if(i<2):
            res[c] = [items[i][1]]
        else:
            res[c] = [items[i][0]]
        i+=1
    
    result_table = result_table.append(pd.DataFrame(res),)
    return row

In [403]:
## Applying sort_row function to rows in dataframe, the dataframe won't get changed
mean_ratings.apply(sort_row, axis=1)

,Occupation,Age,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,K-12 student,18,0.360167,0.215202,0.051636,0.104233,0.300192,0.073445,0.003528,0.291533,0.069596,0.012187,0.091084,0.036883,0.038486,0.119307,0.253368,0.224503,0.078576,0.019885
1,K-12 student,35,0.122517,0.072848,0.052980,0.066225,0.639073,0.059603,0.009934,0.374172,0.026490,0.013245,0.029801,0.033113,0.016556,0.165563,0.066225,0.089404,0.046358,0.009934
2,K-12 student,50,0.186275,0.083333,0.063725,0.034314,0.480392,0.083333,0.004902,0.352941,0.029412,0.014706,0.063725,0.024510,0.019608,0.137255,0.176471,0.151961,0.058824,0.000000
3,academic/educator,18,0.231338,0.119759,0.037152,0.062500,0.365865,0.080280,0.009968,0.389890,0.034262,0.016850,0.071243,0.037250,0.038573,0.170724,0.137882,0.180079,0.062133,0.015576
4,academic/educator,35,0.212554,0.124281,0.044386,0.078465,0.339695,0.065499,0.008445,0.416664,0.033481,0.021910,0.049041,0.055192,0.046215,0.165708,0.143133,0.163480,0.071583,0.022077
5,academic/educator,50,0.193952,0.108316,0.026243,0.046162,0.325967,0.075095,0.009450,0.442498,0.024280,0.036566,0.048270,0.046889,0.053867,0.168581,0.127581,0.168799,0.093777,0.029660
6,artist,18,0.252040,0.130306,0.046007,0.072742,0.370249,0.083601,0.009748,0.358470,0.038260,0.016701,0.080108,0.040991,0.035307,0.149008,0.155263,0.178536,0.059184,0.018098
7,artist,35,0.180632,0.102877,0.040912,0.061684,0.341544,0.072912,0.014877,0.410246,0.028561,0.025684,0.071439,0.064982,0.047158,0.165263,0.121544,0.170596,0.064211,0.020351
8,artist,50,0.179778,0.097411,0.030086,0.048335,0.326017,0.064858,0.007645,0.501356,0.036005,0.023921,0.031566,0.039211,0.056967,0.180271,0.115166,0.146732,0.068064,0.026634
9,clerical/admin,18,0.237030,0.116177,0.048263,0.077989,0.399633,0.081218,0.011022,0.349254,0.031619,0.014362,0.074148,0.044088,0.036573,0.157537,0.123803,0.185649,0.050824,0.015197
10,clerical/admin,35,0.218820,0.126665,0.037329,0.066686,0.345290,0.073102,0.004763,0.370273,0.038106,0.026927,0.069991,0.049772,0.047633,0.163993,0.145135,0.201516,0.069019,0.020025
11,clerical/admin,50,0.168743,0.091934,0.020759,0.041222,0.337782,0.076512,0.011269,0.430012,0.024614,0.042112,0.046856,0.063464,0.061981,0.205516,0.090451,0.152432,0.096975,0.053381
12,college/grad student,18,0.270247,0.138210,0.054404,0.087027,0.373810,0.081964,0.006882,0.330352,0.040380,0.013119,0.078436,0.041742,0.035482,0.145218,0.156518,0.191708,0.062483,0.015796
13,college/grad student,35,0.200948,0.085951,0.029342,0.052164,0.295791,0.091286,0.027267,0.393598,0.023118,0.026971,0.110848,0.030231,0.057202,0.106402,0.110551,0.238589,0.063130,0.022525
14,college/grad student,50,0.255656,0.128959,0.047511,0.072398,0.309955,0.063348,0.006787,0.398190,0.031674,0.018100,0.036199,0.081448,0.067873,0.203620,0.140271,0.201357,0.106335,0.018100
15,customer service,18,0.295710,0.145192,0.046006,0.068861,0.365237,0.084024,0.005399,0.303402,0.040385,0.014645,0.112278,0.034098,0.032101,0.116864,0.169157,0.191420,0.058876,0.023225
16,customer service,35,0.290919,0.150046,0.043769,0.082427,0.368366,0.070240,0.002621,0.269952,0.044948,0.015332,0.102084,0.051500,0.033809,0.131569,0.173503,0.192635,0.065522,0.028437
17,customer service,50,0.393419,0.171674,0.025751,0.052933,0.227468,0.088698,0.005722,0.296137,0.064378,0.020029,0.133047,0.048641,0.037196,0.092990,0.254649,0.257511,0.074392,0.021459
18,doctor/health care,18,0.250301,0.119968,0.045138,0.068811,0.352481,0.073760,0.004815,0.367260,0.032567,0.015247,0.078976,0.037515,0.034372,0.162498,0.140431,0.196001,0.060185,0.014846
19,doctor/health care,35,0.234592,0.128019,0.046699,0.080515,0.385375,0.076563,0.011931,0.371615,0.034329,0.017640,0.057825,0.050432,0.039306,0.165496,0.130874,0.165056,0.069390,0.020129
20,doctor/health care,50,0.192455,0.105134,0.029340,0.054372,0.304110,0.075795,0.007801,0.438119,0.030271,0.027477,0.070439,0.046105,0.048667,0.149028,0.146466,0.185703,0.084294,0.025614
21,executive/managerial,18,0.266526,0.128938,0.032144,0.054933,0.360800,0.086884,0.007326,0.366374,0.035134,0.014288,0.072553,0.031930,0.037526,0.150253,0.148160,0.199996,0.064736,0.018774
22,executive/managerial,35,0.272715,0.133723,0.036657,0.066772,0.333728,0.079765,0.006541,0.364401,0.035161,0.020204,0.072889,0.041590,0.041546,0.143233,0.158347,0.191209,0.080770,0.026142
23,executive/managerial,50,0.299571,0.152373,0.022032,0.049460,0.285228,0.079920,0.005249,0.393538,0.030608,0.021144,0.059219,0.038223,0.046577,0.143058,0.162132,0.197619,0.096629,0.047390
24,farmer,18,0.417778,0.256296,0.014815,0.053333,0.325926,0.069630,0.002963,0.278519,0.088889,0.016296,0.045926,0.017778,0.020741,0.127407,0.314074,0.176296,0.068148,0.019259
25,farmer,35,0.245844,0.157480,0.073491,0.122485,0.369204,0.077865,0.006999,0.336833,0.041120,0.020997,0.056868,0.052493,0.032371,0.131234,0.175853,0.172353,0.052493,0.014873
26,farmer,50,0.342012,0.189349,0.039053,0.084024,0.334911,0.071006,0.000000,0.295858,0.034320,0.005917,0.100592,0.028402,0.035503,0.157396,0.151479,0.208284,0.066272,0.023669
27,homemaker,18,0.188904,0.129364,0.068200,0.137754,0.552368,0.047903,0.002436,0.298782,0.046008,0.008390,0.037077,0.069283,0.022192,0.259540,0.109608,0.112043,0.050880,0.012449
28,homemaker,35,0.193998,0.113519,0.049864,0.095635,0.397545,0.069567,0.003334,0.390118,0.032889,0.011973,0.056835,0.047893,0.041225,0.227038,0.090482,0.178387,0.061079,0.017430
29,homemaker,50,0.114068,0.068441,0.106464,0.134030,0.381179,0.059886,0.003802,0.450570,0.020913,0.019011,0.028517,0.115970,0.035171,0.212928,0.059886,0.113118,0.069392,0.028517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,lawyer,50,0.193770,0.121695,0.022818,0.040203,0.365809,0.076784,0.013039,0.425933,0.028975,0.025715,0.049982,0.051431,0.051068,0.169504,0.101050,0.143426,0.102499,0.030062
33,other,18,0.265348,0.131099,0.045608,0.075805,0.369713,0.084679,0.008837,0.333992,0.037084,0.014861,0.085204,0.039434,0.039534,0.140948,0.150872,0.200905,0.057794,0.016798
34,other,35,0.248987,0.132135,0.037897,0.068522,0.338131,0.072266,0.010341,0.353688,0.034338,0.022063,0.102400,0.041365,0.040506,0.147017,0.159905,0.175463,0.070854,0.024886
35,other,50,0.196885,0.113735,0.029234,0.057614,0.321858,0.073334,0.006402,0.406786,0.027100,0.022975,0.083932,0.045807,0.047301,0.159613,0.124191,0.166441,0.077744,0.030159
36,programmer,18,0.320015,0.164569,0.052513,0.072072,0.349675,0.082926,0.006473,0.299757,0.043444,0.016881,0.083736,0.034264,0.035883,0.125701,0.220347,0.214041,0.067636,0.016267
37,programmer,35,0.282304,0.156431,0.041469,0.066338,0.326999,0.068684,0.007801,0.355622,0.038184,0.024283,0.060531,0.044167,0.042114,0.157663,0.219720,0.190744,0.085929,0.021995
38,programmer,50,0.197680,0.112887,0.023454,0.042268,0.345619,0.072423,0.006959,0.422680,0.023196,0.022680,0.048711,0.034021,0.052320,0.175000,0.150773,0.197165,0.084278,0.026804
39,retired,35,0.193819,0.122577,0.023573,0.062336,0.389733,0.057098,0.006286,0.349921,0.025144,0.025668,0.066527,0.040335,0.059717,0.138816,0.201676,0.159770,0.066527,0.038240
40,retired,50,0.202927,0.116985,0.023938,0.043732,0.303502,0.074015,0.007613,0.457452,0.023177,0.030959,0.049992,0.043563,0.056420,0.162071,0.121468,0.166469,0.102605,0.030536
41,sales/marketing,18,0.264755,0.130928,0.039546,0.064944,0.376398,0.088010,0.006649,0.352513,0.033591,0.013928,0.071782,0.036710,0.040082,0.160454,0.137230,0.202269,0.060816,0.018591
42,sales/marketing,35,0.285432,0.138156,0.030245,0.050460,0.351622,0.088761,0.005852,0.362870,0.033817,0.020442,0.062543,0.031157,0.043088,0.141956,0.173189,0.209970,0.090204,0.022874
43,sales/marketing,50,0.318997,0.131728,0.021381,0.038093,0.320718,0.097567,0.003932,0.349226,0.021135,0.029737,0.050135,0.039813,0.054559,0.152863,0.205456,0.228066,0.087245,0.032440
44,scientist,18,0.289580,0.148660,0.047767,0.072048,0.347866,0.085213,0.007344,0.354879,0.044195,0.018657,0.070195,0.037976,0.037579,0.137876,0.177506,0.193450,0.072842,0.017863
45,scientist,35,0.275823,0.158782,0.039941,0.064659,0.339990,0.065313,0.005566,0.373384,0.041742,0.019807,0.053691,0.039941,0.041087,0.153217,0.195122,0.175151,0.089213,0.023572
46,scientist,50,0.244354,0.135495,0.034163,0.055588,0.252461,0.053272,0.008686,0.405327,0.033584,0.034163,0.053851,0.048639,0.051534,0.127968,0.214244,0.174870,0.103069,0.060799
47,self-employed,18,0.268349,0.133675,0.044288,0.066962,0.362546,0.078768,0.008120,0.319508,0.034855,0.013680,0.105878,0.036105,0.036292,0.133300,0.166656,0.208320,0.059217,0.016741
48,self-employed,35,0.259894,0.132720,0.031132,0.056364,0.339200,0.077729,0.010377,0.360667,0.030217,0.017245,0.079662,0.034337,0.040492,0.146403,0.153322,0.194425,0.075440,0.026707
49,self-employed,50,0.237396,0.124107,0.028202,0.051671,0.320166,0.080259,0.008403,0.413753,0.023759,0.025691,0.047904,0.043655,0.045586,0.155013,0.129612,0.172687,0.101120,0.034093
50,technician/engineer,18,0.335674,0.167371,0.050271,0.073722,0.345625,0.087482,0.004898,0.300044,0.045477,0.015703,0.080563,0.034412,0.039102,0.126014,0.207613,0.220777,0.067840,0.019590
51,technician/engineer,35,0.301906,0.159627,0.041086,0.072328,0.335822,0.072848,0.004829,0.317211,0.038597,0.019503,0.087448,0.039043,0.041198,0.128014,0.223039,0.199822,0.081095,0.025335
52,technician/engineer,50,0.307162,0.162274,0.029529,0.064164,0.295985,0.074238,0.007451,0.374638,0.034359,0.020284,0.064992,0.046916,0.048158,0.145715,0.195529,0.208224,0.083069,0.028564
53,tradesman/craftsman,18,0.308511,0.167921,0.036989,0.071849,0.355319,0.084124,0.004255,0.268412,0.048445,0.009984,0.150900,0.030442,0.033879,0.107529,0.181178,0.215057,0.058592,0.016530
54,tradesman/craftsman,35,0.212089,0.134677,0.026299,0.060870,0.358643,0.085684,0.008059,0.318346,0.032238,0.020997,0.152068,0.039236,0.042842,0.113256,0.133616,0.184942,0.065323,0.027359
55,tradesman/craftsman,50,0.240285,0.111023,0.019033,0.030135,0.245837,0.088025,0.008723,0.436162,0.025377,0.028549,0.065028,0.019033,0.056305,0.114195,0.149881,0.234734,0.111023,0.065028
56,unemployed,18,0.272753,0.131840,0.035252,0.065495,0.366033,0.082506,0.009829,0.323221,0.037898,0.013609,0.098289,0.036197,0.036197,0.130990,0.162367,0.197713,0.056516,0.018524
57,unemployed,35,0.212736,0.132075,0.026887,0.055660,0.316509,0.061792,0.007075,0.365566,0.052358,0.020755,0.143396,0.036792,0.041038,0.123113,0.210377,0.171226,0.064623,0.017453
58,unemployed,50,0.131356,0.063559,0.021186,0.052260,0.411017,0.080508,0.004237,0.444915,0.018362,0.052260,0.038136,0.042373,0.053672,0.251412,0.124294,0.128531,0.076271,0.038136
59,writer,18,0.213792,0.116541,0.046261,0.071312,0.383674,0.086704,0.013471,0.368225,0.033105,0.021525,0.076299,0.042621,0.039095,0.139098,0.141420,0.175041,0.056866,0.016452
60,writer,35,0.196346,0.111379,0.040609,0.071092,0.341316,0.071413,0.012911,0.408497,0.028501,0.023251,0.070074,0.049877,0.044466,0.164738,0.130505,0.169077,0.066538,0.017626
61,writer,50,0.201695,0.119994,0.040339,0.066647,0.341274,0.080824,0.005408,0.402368,0.031131,0.036393,0.055247,0.044578,0.057586,0.149225,0.119994,0.160772,0.092517,0.035808

In [404]:
## Had no duplicates. Just for good measures.
result_table.drop_duplicates(subset=result_table.columns,inplace=True)

In [411]:
## renaming to the Age Groups
result_table.loc[result_table.Age==18,'Age'] = '18-35'
result_table.loc[result_table.Age==35,'Age'] = '36-50'
result_table.loc[result_table.Age==50,'Age'] = '50+'
## removing extra index column made by sort_row method
result_table = result_table.reset_index().drop(['index'],axis=1)
## Sorting Dataframe by Occupation and Age
result_table = result_table.sort_values(['Occupation','Age'])

In [412]:
## Saving Dataframe to csv file
result_table.to_csv('GenreRankingWith_Age_Occupation.csv',index=False)

## END